@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
}

.logo{
    flex:10%;
    margin-left: 10%;
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #050d2d;
    font-size: 34px;

}

.menu{ 
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;

}

.menu a:hover{
    color: #0493d9;
    border-top: 4px solid #050d2d;
}

#botao{
    background: #050d2d;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #0493d9;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #050d2d;
    padding-top: 100px;
}

.headline{
    flex: 40%;
    margin-left: 10%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #0493d9;
    padding: 0;
    margin: 0;
}

.headline p{ 
    color: #0493d9;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    background: white;
    padding: 20px;
    color: #0493d9;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.contact-btn:hover{
    background: #0493d9;
    color: white;
    font-weight: bold;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    background: #050d2d;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2{
    
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #0493d9;
}

.servicos{
    display: inline-block;
    margin-top: 5%;

}

.card{
    display: inline-block;
    background: #0493d9;
    color: white;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border-radius: 15px;
}

.hidden-text{
    display: none;
}

.card:hover{
    background: white;
    color: black;
    padding: 40px;
}

.card:hover img{
    mix-blend-mode: exclusion;
} 

.card:hover .card-text{
    display: none;
    
}

.card:hover .hidden-text{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    background: #050d2d;
    text-align: center;
    color: white;
    border-top: #0493d9 solid 5px;
}

.footer-logo{
    padding: 100px;

}

